html {
    background-color: rgb(238, 238, 238);
}

body {
    margin: 0;
    padding: 0;
}

.inputs {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 10px;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px #88888822;
}

.inputs:focus {
    border: 2px solid  rgb(61, 157, 179);
    outline: none ;
}

.inputs::placeholder {
   opacity:0.5;
}

.btn-logar {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: rgb(255, 253, 252);
    background-color: rgb(61, 157, 179);
    font-size: 20px;
    border-radius: 5px;
    border: solid rgb(61, 157, 179);
}

.btn-cadastre-se {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 2px solid rgb(220, 227, 117);
    font-weight: bolder;
    margin-right: 20px;
}

.label-cadastre-se {
    margin-right: 20px;
}

.div-bottom {
    display: flex;
    background-color: rgb(225, 234, 235);
    width: 100%;
    margin-top: 20px;
    height: 62px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: end;
}

#div-title {
    width: 100%;
    margin-bottom: 20px;
}

#div-title hr {
    width: 100%;
    background-color: rgb(191, 211, 213);
    height: 2px;
    border: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(61, 157, 179), rgba(255, 255, 255, 0));

}

#div-title h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.div-pai {
    background-color: rgb(246, 246, 246);
    margin: 0 auto;
    width: 500px;
    height: 390px;
    border-radius: 10px;
    margin-top: 150px;
    border: 3px solid rgb(191, 211, 213);
    box-shadow: 2px 2px #88888822;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0 20px;
}

.content div {
    margin-bottom: 5px;
}

.font-color-default {
    color: rgb(61, 157, 179);
}

.radio {
    box-shadow: 2px 2px #88888822;
    background-color: silver;

}